::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(153, 153, 153, 0.7);
    ;
}

body {
    background: #000;
    color: #999;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: georgia;
    font-size: 1em;
    text-align: center;
    line-height: 1;
}

* {
    box-sizing: border-box;
}

h2 {
    color: #fff;
}

input {
    accent-color: #EC8A2E;

    &[type="range"] {
        cursor: pointer;
    }
}

pre {
    padding-bottom: 30px;
    overflow-x: auto;
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
}

a {
    color: #fb0;
}

#footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.h {
    color: #fb0
}

.c {
    display: inline;
    margin-left: 1em
}

/*----Asi changes---*/

button.toggle-sidebar-btn {
    width: 30px;
    height: 40px;
    position: absolute;
    right: -30px;
    top: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 0 50% 50% 0;
    padding-inline-end: 12px;
    border: 1px solid #505050;
    border-inline-start-color: #000;
    cursor: pointer;
}

.sidebar.open button.toggle-sidebar-btn:before {
    content: 'X';
}

.sidebar button.toggle-sidebar-btn:before {
    content: '>';
}

button:focus {
    outline: none;
}


.sidebar {
    position: absolute;
    z-index: 900;
    left: 0;
    top: 0;
    width: 350px;
    height: 100%;
    background: rgba(0, 0, 0, 0.56);
    border-inline-end: 1px solid #505050;
    padding: 15px;
    text-align: left;
    transform: translate(-100%, 0);
    transition: transform 0.5s;
}

.scroll-el {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.sidebar.open {
    transform: translate(0, 0);
}

.sidebar section {
    background: rgba(74, 74, 74, 0.24);
    padding: 1px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.sidebar label {
    width: 100%;
}

.sidebar section>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}